.payment {
  background-color: white;
}
.payment__container > h1 {
  text-align: center;
  padding: 10px;
  font-weight: 400;
  background-color: lightgray;
  border-bottom: 1px solid lightgrey;
}

.payment__container > h1 a {
  text-decoration: none;
}

.payment__section {
  display: flex;
  padding: 20px;
  margin: 10 20px;
  border-bottom: 1px solid lightgray;
}

.payment__section > h3 {
  margin-right: 20px;
}
.payment__title {
  flex: 0.2;
}

.payment__details {
  flex: 0.8;
  height: 50px;
}
.info {
  font-size: 11px;
  font-weight: 400;
}

.button__payment {
  background-color: rgb(255, 174, 0);
  border-radius: 7px;
  width: 50%;
  height: 30px;
  border: 1px solid;
  margin-top: 20px;
  font-weight: bolder;
  color: black;
}
